[Desktop Entry]
Name=Beauty Color Light
Comment=Beauty Color Light Plasma theme by jkotran

X-KDE-PluginInfo-Author=jkotran
X-KDE-PluginInfo-Email=josephkotran@gmail.com
X-KDE-PluginInfo-Name=Beauty-Color-Light-Plasma
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/jkotran/Beauty-Color-Light
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL-3.0+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0





